/* Global box-sizing for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: white;
  font-family: Arial, sans-serif;
}

.clinic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.main-wrapper {
    margin: 2rem;
}


.doctitle {
    display: flex;
    font-size: 1.6rem;
    font-weight: 800;
    color: #000;
    text-align: center;
    justify-content: center;
    margin: 2rem;
}

.patient-info {
    /* background-color: rgba(200, 200, 200, 0.2); */
    border-radius: 1rem;
    /* max-width: 60rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    /* min-height: 20rem; */
    width: 100%
}

.patient-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    align-items: stretch;
    /* width: 100% */
}

.patient-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 1rem;
}
.patient-info-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.patient-info-title {
    font-size: .8rem;
    margin-bottom: 0.5rem;
    color: #000;
}

.patient-info-data {
    background-color: rgba(200, 200, 200, 0.2);
    /* border: solid 2px #0000006a; */
    border-radius: .7rem;
    min-width: 10rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: #000;
}

.patient-info-data .fullname {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fullname span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    padding-left: 0.4rem;
}

.patient-status-dropdown {
    position: relative;
    display: inline-block;
}

.patient-status {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    line-height: 1.5;
}

.patient-status-dropdown-icon {
    position: absolute;
    top: 40%;
    right: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    pointer-events: none;
}

.patient-status option {
    padding: 0.5rem 1rem;
    line-height: 1.5;
}

.consent-section {
    margin-top: 2rem;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2);
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
}

.consent-section ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.patient-section {
    margin: 3rem;
    gap: 1rem;
}

.patient-signature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.patient-sigmature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.patient-signature-noncapable {
    max-width: 80rem;
    display: flex;
    gap: 1rem;
}

.patient-signature-wrapper {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 1rem;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.patient-signature-wrapper p, .patient-signature-date p  {
    font-size: .8rem;
}
.patient-signature-id {
    padding-left: 1rem;
}

.patient-signature-form {
    margin-top: 0;
}
.patient-signature-form2 {
    margin-top: 4rem;
}

.patient-signature-wrapper input, .patient-signature-id input {
    width: auto;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    font-size: 1rem;
}

.patient-signature-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: auto; /* Align to the right */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.2);
    width: 18rem;
    height: auto;
    border-radius: 1rem;
    padding: .75rem;
    gap: .5rem;
}



@media print {
    .patient-status-dropdown-icon {
        display: none;
    }

    .patient-info-data,
    .consent-section,
    .footer-wrapper {
        background-color: rgba(200, 200, 200, 0.2) !important;
    }

    /* Avoid page breaks inside these elements */
    .patient-info, .consent-section, .footer-wrapper {
        page-break-inside: avoid;
    }

    /* Ensure the body takes up the full height */
    body {
        height: auto;
    }
}